<p id="notice"><%= notice %></p>

<h1>Homepage</h1>

<% @posts.each do |post| %>
  <h2><%= post.title %></h2>
  <h3><%= post.subject %></h3>
  <p><%= resumePost post.text %></p>
  <h4>Author: <%= post.author.name %></h4>
  <small>Data: <%= post.created_at %></small>

  <hr/>
<% end %>

